.container {
  position: fixed;
  inset: 0;
  z-index: 10;
  width: fit-content;
  height: fit-content;
  margin: auto;
  background-color: #1c1c21;
  border-radius: 40px;
  cursor: default;
  pointer-events: none;
}

.header {
  display: flex;
  align-items: center;
}

.close {
  justify-self: flex-end;
  margin-left: auto;
  cursor: pointer;
  pointer-events: all;
}
